In [7]:
import pandas as pd

In [8]:
%cd C:\Users\Panton\Desktop\ITZA\ITZA

C:\Users\Panton\Desktop\ITZA\ITZA

C:\Users\Panton\AppData\Roaming\Python\Python39\site-packages\IPython\core\magics\osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [10]:
scores = pd.read_csv("raw_data/student-scores.csv")

In [11]:
scores.head

<bound method NDFrame.head of         id first_name last_name                                    email  \
0        1       Paul     Casey           paul.casey.1@gslingacademy.com
1        2   Danielle  Sandoval    danielle.sandoval.2@gslingacademy.com
2        3       Tina   Andrews         tina.andrews.3@gslingacademy.com
3        4       Tara     Clark           tara.clark.4@gslingacademy.com
4        5    Anthony    Campos       anthony.campos.5@gslingacademy.com
...    ...        ...       ...                                      ...
1995  1996       Alan  Reynolds     alan.reynolds.1996@gslingacademy.com
1996  1997     Thomas   Gilbert    thomas.gilbert.1997@gslingacademy.com
1997  1998    Madison     Cross     madison.cross.1998@gslingacademy.com
1998  1999   Brittany   Compton  brittany.compton.1999@gslingacademy.com
1999  2000    Natalie     Smith     natalie.smith.2000@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
0       male          False             3                       False
1     female          False             2                       False
2     female          False             9                        True
3     female          False             5                       False
4       male          False             5                       False
...      ...            ...           ...                         ...
1995    male          False             2                       False
1996    male          False             2                       False
1997  female          False             5                       False
1998  female           True            10                        True
1999  female          False             5                       False

      weekly_self_study_hours      career_aspiration  math_score  \
0                          27                 Lawyer          73
1                          47                 Doctor          90
2                          13     Government Officer          81
3                           3                 Artist          71
4                          10                Unknown          84
...                       ...                    ...         ...
1995                       30  Construction Engineer          83
1996                       20      Software Engineer          89
1997                       14      Software Engineer          97
1998                        5         Business Owner          51
1999                       27             Accountant          82

      history_score  physics_score  chemistry_score  biology_score  \
0                81             93               97             63
1                86             96              100             90
2                97             95               96             65
3                74             88               80             89
4                77             65               65             80
...             ...            ...              ...            ...
1995             77             84               73             75
1996             65             73               80             87
1997             85             63               93             68
1998             96             72               89             95
1999             99             91               69             83

      english_score  geography_score
0                80               87
1                88               90
2                77               94
3                63               86
4                74               76
...             ...              ...
1995             84               82
1996             67               73
1997             94               78
1998             88               75
1999             93              100

[2000 rows x 17 columns]>